<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
      <%= link_to t("actions.new", scope: "decidim.access_codes.verification.admin.access_codes"), new_access_code_path, class: "button button__sm button__secondary" %>
    </h1>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("name", scope: "decidim.access_codes.verification.admin.access_codes.access_code") %></th>
          <th><%= t("email", scope: "decidim.access_codes.verification.admin.access_codes.access_code") %></th>
          <th><%= t("created_at", scope: "decidim.access_codes.verification.admin.access_codes.access_code") %></th>
          <th><%= t("code", scope: "decidim.access_codes.verification.admin.access_codes.access_code") %></th>
          <th><%= t("times_used", scope: "decidim.access_codes.verification.admin.access_codes.access_code") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% access_codes.each do |access_code| %>
          <tr>
            <%= render partial: "decidim/access_codes/verification/admin/access_codes/access_code", locals: { access_code: access_code } %>
            <td class="table-list__actions">
              <%= icon_link_to "group-line", access_code_path(access_code.id), t(".users"), class: "action-icon--users" %>
              <%= icon_link_to "close-circle-line", access_code_path(access_code.id), t(".remove_access"), method: :delete, class: "action-icon--delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate access_codes, theme: "decidim" %>
  </div>
</div>
