<div class="card" id='access-code'>
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
    <%= link_to t("actions.all", scope: "decidim.access_codes.verification.admin.access_codes"), access_codes_path, class: "button tiny button--title" %>
  </div>
  <div class="card-section">

    <%= decidim_form_for(@form, html: { class: "form new_access_code" }) do |form| %>
      <p class="text-help">
        <%= t(".instructions") %>
      </p>

      <div class="panel callout mb-s">
        <%= raw t(".example") %>
      </div>

      <p class="text-help">
        <%= t(".help", maximum_use_count: Decidim::AccessCodes.config.default_maximum_use_count) %>
      </p>

      <div class="row column">
        <%= form.text_area :data, rows: 10 %>
      </div>

      <div class="button--double form-general-submit">
          <%= form.submit t(".create") %>
      </div>
    <% end %>
  </div>
</div>
