<p class="email-greeting"><%= t(".greeting", organization_name: translated_attribute(@organization.name)) %></p>
<p class="email-instructions"><%== t(".instructions_1") %></p>

<p class="text-center heading2"><h2><%= @access_code.code %></h2></p>

<p class="email-instructions"><%== t(".instructions_2") %></p>

<p class="email-button email-button__cta"><%= link_to t(".verify"), @authorize_url %>

<p class="email-footer"><%== t(".footer") %></p>